<!DOCTYPE html>
<html lang="en" ng-app="socmedApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ settings.appTitle }}</title>
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">{{ settings.appTitle }}</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/public/index.html">Főoldal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="reg.html">Regisztráció</a>
                            </li>
                            <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>-->
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <form class="d-flex" role="search" ng-controller="userCtrl" ng-if="!loggedUser">
                <div class="form-control">
                    <input type="email" class="form-control me-1" id="floatingInput" placeholder="E-mail cím" ng-model="user.email">

                    <input type="password" class="form-control me-1" id="floatingPassword" placeholder="Jelszó" ng-model="user.pass1">

                    <button class="btn btn-primary me-1" ng-click="login()">Belépés</button>
                    <a href="#!/reg" class="btn btn-secondary">Regisztráció</a>
            </form>
            <form class="d-flex" role="search" ng-controller="userCtrl" ng-if="loggedUser">

                <input type="text" class="form-control me-1" id="floatingInput" ng-model="loggedUser.name" hidden disabled>

                <button class="btn btn-primary me-1" ng-click="logout()" hidden>Kilépés</button>
                </div>
            </form>
        </main>
        <footer class="container">{{company - author}}</footer>
    </div>
    <script src="/public/assets/js/jquery-3.6.1.min.js"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/angular.min.js"></script>
    <script src="/public/assets/js/angular-route.min.js"></script>
    <script src="/public/assets/js/moment.min.js"></script>
    <script src="/public/assets/js/app.js"></script>
</body>

</html>