<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>

<body>
    <div class="container">

        <form class="d-flex" role="search" ng-controller="userCtrl" ng-if="!loggedUser">
            <div class="form-control">
                <input type="email" class="form-control me-1" id="floatingInput" placeholder="E-mail cím" ng-model="user.email">

                <input type="password" class="form-control me-1" id="floatingPassword" placeholder="Jelszó" ng-model="user.pass1">

                <button class="btn btn-primary me-1" ng-click="login()">Belépés</button>
                <a href="#!/reg" class="btn btn-secondary">Regisztráció</a>
        </form>
        <form class="d-flex" role="search" ng-controller="userCtrl" ng-if="loggedUser">

            <input type="text" class="form-control me-1" id="floatingInput" ng-model="loggedUser.name" hidden disabled>

            <button class="btn btn-primary me-1" ng-click="logout()" hidden>Kilépés</button>
            </div>
        </form>
    </div>
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/moment.min.js"></script>
    <script src="/public/assets/js/app.js"></script>
</body>

</html>